.btn-public {
  padding: 1.1rem 1rem;
  font-size: 2rem;
  cursor: pointer;
  transition: var(--transaction);
  -webkit-transition: var(--transaction);
  -moz-transition: var(--transaction);
  -ms-transition: var(--transaction);
  -o-transition: var(--transaction);
  font-family: inherit;
}

.btn-public--width-100 {
  width: 100%;
}

.btn-public--red {
  background-color: rgb(255 255 255/1);
  color: var(--color-red);
  border: 1px solid var(--color-red);
}

.btn-public--red:hover {
  color: rgb(255 255 255/1);
  background-color: var(--color-red);
}

.btn-public--green {
  background-color: var(--color-green);
  color: rgb(255 255 255/1);
  border: 1px solid var(--color-green);
}

.btn-public--green:hover {
  color: var(--color-green);
  background-color: rgb(255 255 255/1);
}
