.breadcrumb__wrapper {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  line-height: 1.75rem;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .breadcrumb__wrapper {
    display: none;
  }

 
}
