.section-title{
  display: flex;
  margin-top: var(--size-14);
}

.section-title:first-of-type{
  margin-top: 0;
}

.section-title__key{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--size-8);
  font-weight: 600;
}

.section-title__value{
  margin-right: var(--size-8);
}
