.breadcrumb{
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-right: 2.4rem;
  padding-left: 1.25rem;
  font-size: var(--size-18);
}

.breadcrumb:last-child{
  font-weight: 600;
}

.breadcrumb:before{
  bottom: -2px;
  transform: rotate(-35deg);
  transform-origin: bottom;
}

.breadcrumb::after {
  top: -2px;
  transform: rotate(35deg);
  transform-origin: top;
}

.breadcrumb::after,.breadcrumb::before{
  position: absolute;
  left: 0px;
  height: 70%;
  width: 0.6rem;
  --tw-bg-opacity: 1;
  background-color: var(--color-primary);
  content: "";
}

.breadcrumb:last-child::before,.breadcrumb:last-child::after{
  display: none;
}

.breadcrumb__link{
  white-space: nowrap;
  color: var(--color-text);
}

